li {
  list-style: none;
}

time {
  display: block;
}

button {
  background: #fff;
  border-radius: 15%;
}

.commentary {
  position: relative;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding: 1em;
}

.avatar {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}